{
    "python.formatting.provider": "black",
    "python.pythonPath": "/Users/sixtynorth/.virtualenvs/highlight-ranges/bin/python",
    "python.linting.pylintEnabled": false,
    "python.linting.flake8Enabled": true,
    "python.linting.enabled": true
}