{
    "python.formatting.provider": "autopep8",
    "python.pythonPath": "/Users/sixtynorth/.virtualenvs/highlight-ranges/bin/python",
    "python.linting.pylintEnabled": false,
    "python.linting.flake8Enabled": true,
    "python.linting.enabled": true,
    "python.unitTest.pyTestArgs": [
        "tests"
    ],
    "python.unitTest.unittestEnabled": false,
    "python.unitTest.nosetestsEnabled": false,
    "python.unitTest.pyTestEnabled": true
}